:root {
    --Text-color: #000;
    --Background-Color: #e0e0e0;
    --shadow-color: #000;
}
.dark:root {
    --Text-color: #fff;
    --Background-Color: rgb(17, 17, 17);
    --shadow-color: #fff;
}


.LoginPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Background-Color);
    color: var(--Text-color);

}

.LoginForm {
    width: min(500px, 90vw);
    height: 500px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 1px var(--shadow-color);
}

.LoginUser {
    width: 100%;
    height: auto;
    background-color: green;
    padding: 25px 0 10px 0 ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.LoginUser p{
    font-size: 25px;
}