:root {
    --Text-color: #000;
    --Background-Color: #e0e0e0;
    --shadow-color: #000;
}
.dark:root {
    --Text-color: #fff;
    --Background-Color: rgb(17, 17, 17);
    --shadow-color: #fff;
}


.loginPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginForm {
    width: 500px;
    height: 200px;
    background-color: green;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}   

.formProfile {
    background-color: red;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formProfile img {
    width: 100px;
}
.formProfile span {
    text-align: center;
}
.formProfile span h4 {
    margin: 5px;
}

#loginType1 {
    display: none;
}
#loginType2 {
    display: none;
}