:root {
    --Text-color: #fff;
    --BackgroundScroll: rgb(17, 17, 17);
}
.dark:root {
    --Text-color: #fff;
    --Background-Color: rgb(17, 17, 17);
    --BackgroundScroll: rgb(77, 77, 77);
}
.light:root {
    --Text-color: #000;
    --Background-Color: #e0e0e0;
    --BackgroundScroll: rgb(77, 77, 77);
}

.HomePage {
    width: 100vw;
    height: auto;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    color: var(--Text-color);
}
.Options {
    height: 50px;
    width: 95vw;
    display: flex;
    align-items: center;
    grid-gap: 5px;
}
.Options button {
    cursor: pointer;
    transition: 0.5s;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #000;
}
.Options button:hover {
    border: 1px solid #f14a2c;
}
